.wrapper {
  text-align: right;
  background-color: #aed0e1;
  padding: 5px;
}
.button {
  font-size: 12px;
  background-color: white;
  border: #e5e5e5 2px solid;
  font-weight: bold;
  border-radius: 0;
}

.active {
  background-color: #561d00;
  color: white;
}
