.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #072d5c;
    margin-bottom: 4px;

    h4 {
        margin: 2.6px 0;
        font-size: 13px;
        font-weight: bold;
    }

    input {
        margin: 0;
        padding: 0;
    }
}

.edit-action {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.date {
    padding-top: 4px;
    font-size: 12px;
    font-style: italic;
    text-align: right;
}
