.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #072d5c;

    input,
    h4 {
        font-size: 13px;
        color: #456ad4;
        font-weight: bold;
        margin: 2.6px 0;
    }

    input {
        padding: 0;
        margin: 0;
    }
}

.content {
    padding: 0;
}

.date {
    padding: 2px 2px 2px 0px;
    font-style: italic;
    font-size: 9px;
    text-align: right;
}

.edit-action {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
