.textContent {
  padding: 5px;
  margin-bottom: 3px;
  background: #c4ddfb;
  border: 2px solid #004679;
  padding-top: 3px;
  color: #456ad4;
}

.m-0 {
  margin-bottom: 0;
}

.title {
  border-bottom: 1px solid #072d5c;

  h4 {
    font-size: 13px;
    color: #456ad4;
    font-weight: bold;
    margin: 2.6px 0;
  }
}

.content {
  padding: 2px 2px 2px 0px;
  font-size: 14px;
}

.date {
  padding: 2px 2px 2px 0px;
  font-style: italic;
  font-size: 9px;
  text-align: right;
}
