.wrapper {
    padding: 5px;
    background: #c4ddfb;
    border: 2px solid #004679;
    color: #000;
    text-align: left;
}

.formControl {
    padding: 4px;
}

.formlabel {
    min-width: 160px;
    text-align: left;
}
