.header {
    background-color: #1d78b6;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: white;
    }
}

.item {
    border-bottom: 1px solid #65a5ac;

    a {
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }

    &:last-child {
        border-bottom: none;
    }
}
