.post-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--back-ground);
    border-bottom: 1px #65a5ac solid;
    padding: 10px;

    &:last-child {
        border-bottom: none;
    }
}

.post-content {
    color: black;
    flex: 1;
}

.post-title {
    color: black;
    font-size: 16px;
}

.modal-content-scrollable {
    max-height: calc(100vh - 400px);
    overflow-y: auto;

    .content {
        padding: 0;
    }
}
