.slide {
    img {
        width: 100%;
    }
}

.download {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    background: url('../../assets/images/patt.png') no-repeat #4968c5;
    color: #fff;
}
