.slide {
  img {
    width: 100%;
  }
}

.download {
  background: url("../../assets/images/patt.png") no-repeat #4968c5;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #fff;
}

.notificationWrapper {
  background-color: #009cdf;
}
