.item {
    display: flex;
    align-items: flex-start;
}

.item + .item {
    margin-top: 8px;
}

.player {
    text-align: center;
}

.container {
    background-color: white;
    padding: 5px 4px;
    border-radius: 5px;
    flex: 1;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 19px;
        left: -19px;
        border: 10px solid transparent;
        border-right-color: white;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
}

.username {
    color: #013481;
    font-weight: bold;
}

.metadata {
    display: flex;
    align-items: center;
}

.time {
    color: black;
    font-style: italic;
}

.actions {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.content {
    color: black;
}
