.read {
    background-color: white;
}

.notification-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #65a5ac solid;
    &:last-child {
        border-bottom: none;
    }
}
