.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.item {
    background-color: #4089ba;
    border: 2px solid #00467a;
    text-align: center;
    cursor: pointer;
    flex: 1;
    min-width: calc(20% - 4px);

    div {
        color: white;
        font-size: 12px;

        &:hover {
            color: #1e5b7e;
            text-decoration: underline;
        }
    }
}

.empty-box {
    background-color: white;
    text-align: center;
}
