.container {
    display: flex;
    align-items: flex-start;
    padding: 8px;
}

.player {
    text-align: center;
}

.wrapper {
    flex: 1;
    position: relative;
    padding: 5px 4px;
    background-color: white;
    border-radius: 5px;
    &::before {
        content: '';
        position: absolute;
        top: 19px;
        left: -19px;
        border: 10px solid transparent;
        border-right-color: white;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
}

.username {
    font-weight: bold;
    color: #013481;
}

.metadata {
    display: flex;
    align-items: center;
}

.time {
    font-style: italic;
}

.actions {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.body {
}

.title {
    font-weight: bold;
}

.content {
    padding: 0;
}

.like-session {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ads {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    a {
        padding: 0 5px;
        white-space: nowrap;
        &:hover {
            text-decoration: underline;
        }
    }
}

// CommentsSection.js
.comment-list {
    padding: 8px;
}

.login-session {
    padding: 10px;
    text-align: center;
}
