.info {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 17px;
    img {
        height: 12px;
        margin-right: 4px;
    }

    span {
        font-size: 10px;
        line-height: 12px;
    }
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--default-layout-header-height);
    background-image: url('../../assets/images/topbanner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logoLink {
    display: block;
    img {
        height: 75px;
    }
}
