.post-wrapper {
    display: flex;
    align-items: center;
    background: var(--back-ground);
    border-bottom: 1px #65a5ac solid;
}

.admin {
    background-color: #f5d8b2;
    border-bottom: 1px #b28971 solid;
}

.post-metadata {
    color: black;
    font-size: 12px;

    span {
        color: #666666;
        font-style: italic;
    }
}
