.post-wrapper {
    display: flex;
    align-items: center;
    background: var(--back-ground);
    border-bottom: 1px #65a5ac solid;
}

.avatar-container {
}

.avatar {
}

.post-details {
}

.post-title {
}

.post-link {
}

.post-metadata {
    color: black;
    font-size: 12px;

    span {
        color: #666666;
        font-style: italic;
    }
}
