@import 'normalize.css';

:root {
    --text-color: #456ad4;
    --link-color: #1757a6;
    --background-color: #c4ddfb;
    --body-color: #009cdf;
    --border-color: #004679;
    --default-layout-header-height: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #b3afaf;
    font-size: 14px;
    font-family: Arial;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box-container {
    background: var(--background-color);
    border: 2px solid var(--border-color);
    color: var(--text-color);
}

.custom-width-630 {
    max-width: 630px;
    padding: 0;
}

.custom-quill {
    background-color: white;
    border-radius: 0.375rem;
    color: black;
}

.custom-bg-primary {
    background-color: var(--body-color);
}

.forum-header {
    padding: 2px 5px;
    background-color: #1d78b6;
    border-bottom: 2px solid var(--border-color);
    a {
        color: white;
    }
}

.forum-border-bottom {
    border-bottom: 1px solid #072d5c;
}
