.wrapper {
    border-top: none;
}

.title {
    padding: 4px;
    font-weight: bold;
    text-align: center;
}

.formControl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
}

.formlabel {
    min-width: 100px;
    text-align: left;
}
