.navList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #009de0;
    border: 4px solid var(--border-color);
    list-style: none;
}

.navItem {
    flex: 1;
    border-right: 4px solid var(--border-color);
    line-height: 16px;
    text-align: center;
    &:last-child {
        border-right: none;
    }
}

.navItem.active {
    background-color: #ffaf4c;
    .navLink {
        color: #561d00;
    }
}

.navLink {
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
}
